<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.vikramjeet.challengerapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <!-- YouTube -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.NETWORK" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!-- /YouTube -->

    <!-- Permission to vibrate - recommended, allows vibration feedback on scan -->
    <uses-permission android:name="android.permission.VIBRATE" />

    <!-- Permission to use camera - required -->
    <uses-permission android:name="android.permission.CAMERA" />

    <!-- Camera features - recommended -->
    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.flash"
        android:required="false" />

    <permission
        android:name="com.example.vikramjeet.challengerapp.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.example.vikramjeet.challengerapp.permission.C2D_MESSAGE" />

    <application
        android:name=".ChallengerApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".activities.ChallengerDispatchActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:configChanges="orientation"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.ChallengeActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.parse.ui.ParseLoginActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:configChanges="orientation"
            android:screenOrientation="portrait">
            <meta-data
                android:name="com.parse.ui.ParseLoginActivity.PARSE_LOGIN_ENABLED"
                android:value="false" />
            <meta-data
                android:name="com.parse.ui.ParseLoginActivity.PARSE_LOGIN_EMAIL_AS_USERNAME"
                android:value="true" />
            <meta-data
                android:name="com.parse.ui.ParseLoginActivity.FACEBOOK_LOGIN_ENABLED"
                android:value="true" />
            <meta-data
                android:name="com.parse.ui.ParseLoginActivity.TWITTER_LOGIN_ENABLED"
                android:value="false" />
        </activity>
        <activity
            android:name="com.facebook.LoginActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name=".activities.CompletedChallengeDetailActivity"
            android:label="@string/title_activity_completed_challenge_detail"
            android:parentActivityName=".activities.MainActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.CommentActivity"
            android:label="@string/title_activity_comment"
            android:parentActivityName=".activities.CompletedChallengeDetailActivity"
            android:theme="@style/PopupTheme"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.MainActivity"
            android:label="@string/app_name"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activities.ProfileActivity"
            android:label="@string/title_activity_second"
            android:parentActivityName=".activities.MainActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />

        <service android:name="com.parse.PushService" />

        <receiver android:name="com.parse.ParseBroadcastReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.USER_PRESENT" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.parse.GcmBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />

                <category android:name="com.example.vikramjeet.challengerapp" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".broadcastreceivers.ChallengerPushBroadcastReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="com.parse.push.intent.RECEIVE" />
                <action android:name="com.parse.push.intent.DELETE" />
                <action android:name="com.parse.push.intent.OPEN" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".activities.LeaderboardActivity"
            android:label="@string/title_activity_leaderboard"
            android:parentActivityName=".activities.ProfileActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />

        <!-- Activities responsible for gathering payment info -->
        <activity
            android:name="io.card.payment.CardIOActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"/>
        <activity android:name="io.card.payment.DataEntryActivity"
                  android:configChanges="orientation"
                  android:screenOrientation="portrait"/>
        <activity
            android:name=".activities.PaymentActivity"
            android:label="@string/title_activity_payment"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.NewChallengeActivity"
            android:label="@string/title_activity_new_challenge"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />

        <service
            android:name=".services.UploadService"
            android:exported="true" />

        <activity
            android:name=".activities.PickVideoActivity"
            android:label="@string/title_activity_pick_video"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activities.ReviewVideoActivity"
            android:label="@string/title_activity_review"
            android:parentActivityName=".activities.PickVideoActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".activities.PlayVideoActivity"
            android:label="@string/title_activity_review"
            android:parentActivityName=".activities.PickVideoActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>

    </application>

</manifest>
